<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT AI Sederhana</title>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  </head>
  <body>
    <div>
      <p id="hasil"><%= hasil %></p>
    </div>
    <form method="GET" action="">
      <input type="text" name="q" id="q" placeholder="Find somthing awesome!" />
      <button type="submit">Cari</button>
    </form>

    <script></script>
  </body>
</html>
